.JGM {
    font-size: 200px;
    font-family: "Stencil";
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-align: left;
    text-shadow: 6.5px 11.258px 0px rgb(105, 133, 120);
    position: absolute;
    left: 1503px;
    top: 583.301px;
    z-index: 2;
}